## Pandas 複習

In [1]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col = 0)

In [3]:
df.head()

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 5 to 431
Data columns (total 8 columns):
search_date      100 non-null object
title            100 non-null object
address          100 non-null object
floor_info       100 non-null object
price            100 non-null object
layout           100 non-null object
building_area    100 non-null float64
building_use     100 non-null object
dtypes: float64(1), object(7)
memory usage: 7.0+ KB

In [5]:
df.dtypes

search_date       object
title             object
address           object
floor_info        object
price             object
layout            object
building_area    float64
building_use      object
dtype: object

In [7]:
df.describe()

       building_area
count     100.000000
mean       46.464420
std        98.177214
min        10.000000
25%        25.000000
50%        33.000000
75%        45.000000
max      1000.000000

In [9]:
p = '22,000元/月'
type(p)

str

In [10]:
p + 1000

TypeError: must be str, not int

In [17]:
p2 = p.replace('元/月', '')
p3 = p2.replace(',', '')
p4 = int(p3)
p4

22000

In [13]:
int(p.replace('元/月', '').replace(',', ''))

22000

In [19]:
def normalizePrice(p):
    return int(p.replace('元/月', '').replace(',', ''))

In [21]:
#df['price'].map(normalizePrice)

In [23]:
df['price'] = df['price'].map(lambda p:int(p.replace('元/月', '').replace(',', '')))

In [24]:
df.head()

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,22000,2房1廳1衛1陽臺,24.00,電梯大樓/整層住家
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,17000,2房1廳2衛2陽臺,32.00,電梯大樓/整層住家
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,7500,2房2廳1衛1陽臺,24.00,電梯大樓/整層住家
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,25000,4房3廳3衛3陽臺,78.00,電梯大樓/整層住家
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,15000,1房1廳1衛0陽臺,18.01,電梯大樓/整層住家

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 5 to 431
Data columns (total 8 columns):
search_date      100 non-null object
title            100 non-null object
address          100 non-null object
floor_info       100 non-null object
price            100 non-null int64
layout           100 non-null object
building_area    100 non-null float64
building_use     100 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 7.0+ KB

In [27]:
df['price'].sum() / df['building_area'].sum()

441.24084622168954

In [29]:
df['avg_price'] = df['price'] / df['building_area']

In [31]:
df['avg_price'].describe()

count     100.000000
mean      601.097570
std       304.803446
min        75.000000
25%       412.396978
50%       544.374223
75%       679.833680
max      2000.000000
Name: avg_price, dtype: float64

In [33]:
df.isnull().sum()

search_date      0
title            0
address          0
floor_info       0
price            0
layout           0
building_area    0
building_use     0
avg_price        0
dtype: int64

In [35]:
#df.fillna('-')

## 處理時間格式資料

In [36]:
a = '2019-05-24'
b = '2019-01-01'

In [37]:
b - a

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [40]:
from datetime import datetime
current_time = datetime.now()
current_time

datetime.datetime(2019, 5, 24, 9, 27, 47, 955104)

In [41]:
type(current_time)

datetime.datetime

In [45]:
current_time.strftime('%Y-%m-%d %a %A')

'2019-05-24 Fri Friday'

In [46]:
current_time.strftime('%Y/%m/%d')

'2019/05/24'

In [47]:
t = '2019-05-20'
type(t)

str

In [48]:
datetime.strptime(t, '%Y-%m-%d')

datetime.datetime(2019, 5, 20, 0, 0)

In [49]:
a = '2019-05-24'
b = '2019-01-01'

ta = datetime.strptime(a, '%Y-%m-%d')
tb = datetime.strptime(b, '%Y-%m-%d')

In [50]:
ta

datetime.datetime(2019, 5, 24, 0, 0)

In [51]:
tb

datetime.datetime(2019, 1, 1, 0, 0)

In [52]:
ta - tb

datetime.timedelta(143)

In [53]:
c = '2019-12-31'
tc = datetime.strptime(c, '%Y-%m-%d')

In [54]:
tc - ta

datetime.timedelta(221)

In [56]:
from datetime import timedelta
ta - timedelta(days = 1)

datetime.datetime(2019, 5, 23, 0, 0)

In [57]:
ta + timedelta(days = 1)

datetime.datetime(2019, 5, 25, 0, 0)

In [61]:
for i in range(11):
    tt = ta - timedelta(days = i)
    print(tt.strftime('%Y/%m/%d'))

2019/05/24
2019/05/23
2019/05/22
2019/05/21
2019/05/20
2019/05/19
2019/05/18
2019/05/17
2019/05/16
2019/05/15
2019/05/14

In [68]:
st = datetime.strptime('2019-01-01', '%Y-%m-%d')
st
ary = []
# 每個月最後一周的星期五
for i in range(365):
    dt = st + timedelta(days = i)
    date  = dt.strftime('%Y-%m-%d')
    weekday  = int(dt.strftime('%w'))
    week  = int(dt.strftime('%W'))
    month = int(dt.strftime('%m'))
    ary.append({'date':date, 'weekday':weekday, 'week':week, 'month':month})

In [71]:
df2 = pandas.DataFrame(ary)
df3 = df2[df2['weekday'] == 5]
df3.head()

          date  month  week  weekday
3   2019-01-04      1     0        5
10  2019-01-11      1     1        5
17  2019-01-18      1     2        5
24  2019-01-25      1     3        5
31  2019-02-01      2     4        5

In [72]:
df3.groupby('month')['week'].transform('max')

3       3
10      3
17      3
24      3
31      7
38      7
45      7
52      7
59     12
66     12
73     12
80     12
87     12
94     16
101    16
108    16
115    16
122    21
129    21
136    21
143    21
150    21
157    25
164    25
171    25
178    25
185    29
192    29
199    29
206    29
213    34
220    34
227    34
234    34
241    34
248    38
255    38
262    38
269    38
276    42
283    42
290    42
297    42
304    47
311    47
318    47
325    47
332    47
339    51
346    51
353    51
360    51
Name: week, dtype: int64

In [73]:
df3[df3.groupby('month')['week'].transform('max') == df3['week']]

           date  month  week  weekday
24   2019-01-25      1     3        5
52   2019-02-22      2     7        5
87   2019-03-29      3    12        5
115  2019-04-26      4    16        5
150  2019-05-31      5    21        5
178  2019-06-28      6    25        5
206  2019-07-26      7    29        5
241  2019-08-30      8    34        5
269  2019-09-27      9    38        5
297  2019-10-25     10    42        5
332  2019-11-29     11    47        5
360  2019-12-27     12    51        5

In [78]:
df['search_date'].head()

5     2018-05-12
9     2018-05-14
13    2018-05-14
15    2018-05-14
16    2018-05-13
Name: search_date, dtype: object

In [77]:
df['search_date'].dtypes

dtype('O')

In [81]:
pandas.to_datetime(df['search_date'], format = '%Y-%m-%d').head()

5    2018-05-12
9    2018-05-14
13   2018-05-14
15   2018-05-14
16   2018-05-13
Name: search_date, dtype: datetime64[ns]

In [82]:
df['search_date'] = pandas.to_datetime(df['search_date'], format = '%Y-%m-%d')

In [93]:
#df['search_date'].dt.day
#df['search_date'].dt.month
#df['search_date'].dt.date
df['search_date'].dt.year.head()

5     2018
9     2018
13    2018
15    2018
16    2018
Name: search_date, dtype: int64

In [95]:
current_time.timetuple()

time.struct_time(tm_year=2019, tm_mon=5, tm_mday=24, tm_hour=9, tm_min=27, tm_sec=47, tm_wday=4, tm_yday=144, tm_isdst=-1)

In [96]:
import time
time.mktime(current_time.timetuple())

1558661267.0

In [97]:
datetime.fromtimestamp(1492859823)

datetime.datetime(2017, 4, 22, 19, 17, 3)

## 虛擬變量 dummy variable

In [98]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col = 0)

In [101]:
df['building_use'].unique()

array(['電梯大樓/整層住家', '透天厝/住辦', '透天厝/整層住家', '公寓/整層住家', '電梯大樓/住辦', '別墅/整層住家',
       '公寓/住辦'], dtype=object)

In [103]:
pandas.get_dummies(df['building_use']).head()

    公寓/住辦  公寓/整層住家  別墅/整層住家  透天厝/住辦  透天厝/整層住家  電梯大樓/住辦  電梯大樓/整層住家
5       0        0        0       0         0        0          1
9       0        0        0       0         0        0          1
13      0        0        0       0         0        0          1
15      0        0        0       0         0        0          1
16      0        0        0       0         0        0          1

In [104]:
?pandas.concat

In [111]:
df1 = pandas.DataFrame([[0,1],[1,2]], columns=['A','B'])
df1

   A  B
0  0  1
1  1  2

In [112]:
df2 = pandas.DataFrame([[3,7],[4,9]], columns=['A','D'])
df2

   A  D
0  3  7
1  4  9

In [113]:
pandas.concat([df1, df2], axis = 0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

   A    B    D
0  0  1.0  NaN
1  1  2.0  NaN
0  3  NaN  7.0
1  4  NaN  9.0

In [114]:
pandas.concat([df1, df2], axis = 1)

   A  B  A  D
0  0  1  3  7
1  1  2  4  9

In [115]:
buse = pandas.get_dummies(df['building_use'])

In [119]:
df = pandas.concat([df, buse], axis = 1).head()

In [124]:
df.drop('building_use', axis = 1, inplace=True)

In [127]:
df.head()

,search_date,title,address,floor_info,price,layout,building_area,公寓/住辦,公寓/整層住家,別墅/整層住家,透天厝/住辦,透天厝/整層住家,電梯大樓/住辦,電梯大樓/整層住家
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,0,0,0,0,0,0,1
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,0,0,0,0,0,0,1
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,0,0,0,0,0,0,1
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,0,0,0,0,0,0,1
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,0,0,0,0,0,0,1

In [130]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col = 0)
df.head()

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家

In [131]:
df['price'] = df['price'].map(lambda e: int(e.replace('元/月', '').replace(',','')))

In [132]:
df.head()

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,22000,2房1廳1衛1陽臺,24.00,電梯大樓/整層住家
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,17000,2房1廳2衛2陽臺,32.00,電梯大樓/整層住家
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,7500,2房2廳1衛1陽臺,24.00,電梯大樓/整層住家
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,25000,4房3廳3衛3陽臺,78.00,電梯大樓/整層住家
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,15000,1房1廳1衛0陽臺,18.01,電梯大樓/整層住家

In [133]:
df2 = df.pivot_table(index='search_date', columns='building_use',values='price', aggfunc=sum)
df2.head()

building_use  公寓/住辦  公寓/整層住家  別墅/整層住家   透天厝/住辦  透天厝/整層住家  電梯大樓/住辦  電梯大樓/整層住家
search_date
2018-05-08      NaN  51000.0      NaN      NaN       NaN      NaN    49000.0
2018-05-09      NaN  49000.0      NaN      NaN       NaN      NaN    58000.0
2018-05-10      NaN  62000.0      NaN      NaN       NaN      NaN    73500.0
2018-05-11      NaN  15000.0      NaN      NaN   14000.0      NaN    89000.0
2018-05-12      NaN  53000.0      NaN  75000.0   50000.0  28000.0   352900.0

In [134]:
df3 = df.pivot_table(index='building_use', columns='search_date',
values='price', aggfunc=sum)
df3.head()

search_date,2018-05-08,2018-05-09,2018-05-10,2018-05-11,2018-05-12,2018-05-13,2018-05-14,2018-05-15
building_use,,,,,,,,
公寓/住辦,NaN,NaN,NaN,NaN,NaN,NaN,22000.0,NaN
公寓/整層住家,51000.0,49000.0,62000.0,15000.0,53000.0,45000.0,92300.0,NaN
別墅/整層住家,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000.0
透天厝/住辦,NaN,NaN,NaN,NaN,75000.0,NaN,NaN,83000.0
透天厝/整層住家,NaN,NaN,NaN,14000.0,50000.0,26000.0,70800.0,NaN

In [136]:
df2.T.head()

search_date,2018-05-08,2018-05-09,2018-05-10,2018-05-11,2018-05-12,2018-05-13,2018-05-14,2018-05-15
building_use,,,,,,,,
公寓/住辦,NaN,NaN,NaN,NaN,NaN,NaN,22000.0,NaN
公寓/整層住家,51000.0,49000.0,62000.0,15000.0,53000.0,45000.0,92300.0,NaN
別墅/整層住家,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000.0
透天厝/住辦,NaN,NaN,NaN,NaN,75000.0,NaN,NaN,83000.0
透天厝/整層住家,NaN,NaN,NaN,14000.0,50000.0,26000.0,70800.0,NaN

In [141]:
df['btype'] = df['building_use'].map(lambda e: e.split('/')[0])

In [142]:
df['buse'] = df['building_use'].map(lambda e: e.split('/')[1])

In [146]:
df.head(3)

,search_date,title,address,floor_info,price,layout,building_area,building_use,buse,btype
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,22000,2房1廳1衛1陽臺,24.0,電梯大樓/整層住家,整層住家,電梯大樓
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,17000,2房1廳2衛2陽臺,32.0,電梯大樓/整層住家,整層住家,電梯大樓
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,7500,2房2廳1衛1陽臺,24.0,電梯大樓/整層住家,整層住家,電梯大樓

In [144]:
df_multi_idx = df.pivot_table(index=['btype','buse'], columns='search_date'
,values='price', aggfunc=sum)

In [145]:
df_multi_idx

search_date  2018-05-08  2018-05-09  2018-05-10  2018-05-11  2018-05-12  \
btype buse
公寓    住辦            NaN         NaN         NaN         NaN         NaN
      整層住家      51000.0     49000.0     62000.0     15000.0     53000.0
別墅    整層住家          NaN         NaN         NaN         NaN         NaN
透天厝   住辦            NaN         NaN         NaN         NaN     75000.0
      整層住家          NaN         NaN         NaN     14000.0     50000.0
電梯大樓  住辦            NaN         NaN         NaN         NaN     28000.0
      整層住家      49000.0     58000.0     73500.0     89000.0    352900.0

search_date  2018-05-13  2018-05-14  2018-05-15
btype buse
公寓    住辦            NaN     22000.0         NaN
      整層住家      45000.0     92300.0         NaN
別墅    整層住家          NaN         NaN     25000.0
透天厝   住辦            NaN         NaN     83000.0
      整層住家      26000.0     70800.0         NaN
電梯大樓  住辦            NaN     40000.0     36000.0
      整層住家     236700.0    354000.0         NaN

In [147]:
df_wide = df_multi_idx.unstack()
df_wide.head()

search_date 2018-05-08          2018-05-09          2018-05-10           \
buse                住辦     整層住家         住辦     整層住家         住辦     整層住家
btype
公寓                 NaN  51000.0        NaN  49000.0        NaN  62000.0
別墅                 NaN      NaN        NaN      NaN        NaN      NaN
透天厝                NaN      NaN        NaN      NaN        NaN      NaN
電梯大樓               NaN  49000.0        NaN  58000.0        NaN  73500.0

search_date 2018-05-11          2018-05-12           2018-05-13            \
buse                住辦     整層住家         住辦      整層住家         住辦      整層住家
btype
公寓                 NaN  15000.0        NaN   53000.0        NaN   45000.0
別墅                 NaN      NaN        NaN       NaN        NaN       NaN
透天厝                NaN  14000.0    75000.0   50000.0        NaN   26000.0
電梯大樓               NaN  89000.0    28000.0  352900.0        NaN  236700.0

search_date 2018-05-14           2018-05-15
buse                住辦      整層住家         住辦     整層住家
btype
公寓             22000.0   92300.0        NaN      NaN
別墅                 NaN       NaN        NaN  25000.0
透天厝                NaN   70800.0    83000.0      NaN
電梯大樓           40000.0  354000.0    36000.0      NaN

In [148]:
df_long = df_wide.stack()
df_long.head()

search_date  2018-05-08  2018-05-09  2018-05-10  2018-05-11  2018-05-12  \
btype buse
公寓    住辦            NaN         NaN         NaN         NaN         NaN
      整層住家      51000.0     49000.0     62000.0     15000.0     53000.0
別墅    整層住家          NaN         NaN         NaN         NaN         NaN
透天厝   住辦            NaN         NaN         NaN         NaN     75000.0
      整層住家          NaN         NaN         NaN     14000.0     50000.0

search_date  2018-05-13  2018-05-14  2018-05-15
btype buse
公寓    住辦            NaN     22000.0         NaN
      整層住家      45000.0     92300.0         NaN
別墅    整層住家          NaN         NaN     25000.0
透天厝   住辦            NaN         NaN     83000.0
      整層住家      26000.0     70800.0         NaN

In [156]:
s = '電梯大樓/整層住家'
btype = s.split('/')[0]
buse = s.split('/')[1]
btype, buse

('電梯大樓', '整層住家')

In [157]:
len(s.split('/'))

2

In [158]:
s2 = '電梯大樓'
btype = s2.split('/')[0]

In [159]:
btype

'電梯大樓'

In [160]:
buse = s2.split('/')[1]

IndexError: list index out of range

In [161]:
len(s2.split('/'))

1

In [165]:
s2 = '電梯大樓/整層住家'
if len(s2.split('/')) > 1:
    buse = s2.split('/')[1]
else:
    buse = None
print(buse)

整層住家

In [166]:
s2.split('/')[1] if len(s2.split('/')) > 1 else None

'整層住家'

In [167]:
df['buse'] = df['building_use'].map(lambda e: e.split('/')[1] if len(e.split('/')) > 1 else None)

## 資料處理

In [168]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col = 0)

In [169]:
df.head()

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家

In [171]:
df = df[['floor_info','price','layout','building_area','building_use']]

In [173]:
df['price'] = df['price'].map(lambda e: int(e.replace('元/月', '').replace(',','')))

In [184]:
import numpy as np
df['floor'] = df['floor_info'].map(lambda e: int(e.split('/')[0].replace('F', '')) if 'F' in e.split('/')[0] else np.nan)

In [185]:
df['total_floor'] = df['floor_info'].map(lambda e: int(e.split('/')[1].replace('F', '')))

In [187]:
df['floor'] = df['floor'].fillna(df['total_floor'])

In [189]:
del df['floor_info']

In [191]:
df[['room', 'living_room', 'bathroom', 'balcony']] = df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛(\d+)陽臺')

In [193]:
del df['layout']

In [195]:
buse = pandas.get_dummies(df['building_use'])

In [197]:
df = pandas.concat([df, buse], axis = 1)

In [198]:
del df['building_use']

In [201]:
df['room'] = df['room'].astype(int)
df['living_room'] = df['living_room'].astype(int)
df['bathroom'] = df['bathroom'].astype(int)
df['balcony'] = df['balcony'].astype(int)

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 5 to 431
Data columns (total 15 columns):
price            100 non-null int64
building_area    100 non-null float64
floor            100 non-null float64
total_floor      100 non-null int64
room             100 non-null int32
living_room      100 non-null int32
bathroom         100 non-null int32
balcony          100 non-null int32
公寓/住辦            100 non-null uint8
公寓/整層住家          100 non-null uint8
別墅/整層住家          100 non-null uint8
透天厝/住辦           100 non-null uint8
透天厝/整層住家         100 non-null uint8
電梯大樓/住辦          100 non-null uint8
電梯大樓/整層住家        100 non-null uint8
dtypes: float64(2), int32(4), int64(2), uint8(7)
memory usage: 6.2 KB

## 正規表達法

In [203]:
a = '0912-345-678'
a = '0912-345678'
a = '0912345678'

'0912345678' == a

True

In [204]:
n = '3'

import re
print(re.match('3', n))

In [205]:
print(re.match('5', n))

None

In [206]:
# [] => match any character within []
print(re.match('[0123456789]', n))

<_sre.SRE_Match object; span=(0, 1), match='3'>

In [207]:
# - => continuous
print(re.match('[0-9]', n))

<_sre.SRE_Match object; span=(0, 1), match='3'>

In [208]:
# \d => digit
print(re.match('\d', n))

<_sre.SRE_Match object; span=(0, 1), match='3'>

In [210]:
s = 'w'
print(re.match('[abcdefghijklmnopqrstuvwxyz]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [211]:
# [abcdefghijklmnopqrstuvwxyz] => [a-z]
print(re.match('[a-z]', s))

<_sre.SRE_Match object; span=(0, 1), match='w'>

In [212]:
s = 'W'
print(re.match('[a-z]', s))

None

In [213]:
print(re.match('[a-zA-Z]', s))

<_sre.SRE_Match object; span=(0, 1), match='W'>

In [214]:
s = '3'
print(re.match('[a-zA-Z0-9]', s))

<_sre.SRE_Match object; span=(0, 1), match='3'>

In [215]:
# \w => [a-zA-Z0-9]
print(re.match('\w', s))

<_sre.SRE_Match object; span=(0, 1), match='3'>

In [216]:
s = 'apple'
print(re.match('\w', s))

<_sre.SRE_Match object; span=(0, 1), match='a'>

In [217]:
# {n} => match exact n characters
print(re.match('\w{5}', s))

<_sre.SRE_Match object; span=(0, 5), match='apple'>

In [218]:
# {m,n} => match at least m characters, at most n characters
s = 'appledaily'
print(re.match('\w{3,20}', s))

<_sre.SRE_Match object; span=(0, 10), match='appledaily'>

In [219]:
# {1, } => match at least 1 character
print(re.match('\w{1,}', s))

<_sre.SRE_Match object; span=(0, 10), match='appledaily'>

In [225]:
# { , 5} => match at most 5 characters
print(re.match('\w{,5}', s))

<_sre.SRE_Match object; span=(0, 5), match='apple'>

In [226]:
# {0, } => match at least 0 character
print(re.match('\w{0,}', s))

<_sre.SRE_Match object; span=(0, 10), match='appledaily'>

In [227]:
# + => {1, } 

print(re.match('\w+', s))

<_sre.SRE_Match object; span=(0, 10), match='appledaily'>

In [228]:
# * => {0, }
print(re.match('\w*', s))

<_sre.SRE_Match object; span=(0, 10), match='appledaily'>

In [232]:
phones = ['0912345678', '0912-345678','0912-345-678', '091234567812938173457348595345']
for p in phones:
    #m = re.match('09\d{8}', p)
    #m = re.match('09\d{2}-{0,1}\d{3}-{0,1}\d{3}', p)
    # {0,1} => ?
    #m = re.match('09\d{2}-?\d{3}-?\d{3}', p)
    # ^ => match begin, $ => match end
    m = re.match('^09\d{2}-?\d{3}-?\d{3}$', p)
    print(m)

<_sre.SRE_Match object; span=(0, 10), match='0912345678'>
<_sre.SRE_Match object; span=(0, 11), match='0912-345678'>
<_sre.SRE_Match object; span=(0, 12), match='0912-345-678'>
None

In [236]:
uid = 'A123456789248238423048230'
uid = 'A123456789'
#re.match('[A-Z]\d{9}',uid)
re.match('^[A-Z]\d{9}$',uid)

In [240]:
names = '''陳，林，黃，張，李，王，吳，劉，蔡，楊，
許，鄭，謝，郭，洪，曾，邱，廖，賴，周，
徐，蘇，葉，莊，呂，江，何，蕭，羅，高，
簡，朱，鍾，施，游，詹，沈，彭，胡，余，
盧，潘，顏，梁，趙，柯，翁，魏，方，孫，
張簡，戴，范，歐陽，宋，鄧，杜，侯，曹，薛，
傅，丁，溫，紀，范姜，蔣，歐，藍，連，唐，
馬，董，石，卓，程，姚，康，馮，古，姜，
湯，汪，白，田，涂，鄒，巫，尤，鐘，龔，
嚴，韓，黎，阮，袁，童，陸，金，錢，邵'''
''.join([e.strip() for e in names.split('，')])

'陳林黃張李王吳劉蔡楊許鄭謝郭洪曾邱廖賴周徐蘇葉莊呂江何蕭羅高簡朱鍾施游詹沈彭胡余盧潘顏梁趙柯翁魏方孫張簡戴范歐陽宋鄧杜侯曹薛傅丁溫紀范姜蔣歐藍連唐馬董石卓程姚康馮古姜湯汪白田涂鄒巫尤鐘龔嚴韓黎阮袁童陸金錢邵'

In [242]:
n = '郭台銘'
n = '汽車'
re.match('^[陳林黃張李王吳劉蔡楊許鄭謝郭洪曾邱廖賴周徐蘇葉莊呂江何蕭羅高簡朱鍾施游詹沈彭胡余盧潘顏梁趙柯翁魏方孫張簡戴范歐陽宋鄧杜侯曹薛傅丁溫紀范姜蔣歐藍連唐馬董石卓程姚康馮古姜湯汪白田涂鄒巫尤鐘龔嚴韓黎阮袁童陸金錢邵]\w{2,3}$',n)

In [244]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col = 0)

In [248]:
df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛(\d+)陽臺').head()

    0  1  2  3
5   2  1  1  1
9   2  1  2  2
13  2  2  1  1
15  4  3  3  3
16  1  1  1  0

In [249]:
df[['bedroom','living_room', 'bathroom', 'balcony']] = df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛(\d+)陽臺')

In [251]:
df.head()

,search_date,title,address,floor_info,price,layout,building_area,building_use,bedroom,living_room,bathroom,balcony
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家,2,1,1,1
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家,2,1,2,2
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家,2,2,1,1
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家,4,3,3,3
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家,1,1,1,0

In [253]:
df['address'].head()

5         新北市淡水區民族路
9        基隆市安樂區樂利三街
13        嘉義市西區興業西路
15        台北市北投區新民路
16     新北市淡水區中正東路一段
17        桃園市楊梅區蘋果路
20        台北市松山區北寧路
26        新竹縣竹北市新泰路
30       桃園市大溪區僑愛一街
31        台中市西屯區中清路
44      台中市北屯區崇德十五路
48        基隆市中正區義一路
54        桃園市平鎮區大興路
55      新北市深坑區北深路三段
62        高雄市三民區順昌街
67        高雄市大社區大順街
74      新北市淡水區中正路一段
81        新北市新莊區中港路
85        高雄市楠梓區德民路
87        桃園市桃園區大興路
88       高雄市苓雅區中正一路
89        台南市永康區中華路
94        高雄市左營區先勝路
95        新北市林口區仁愛路
97       新北市林口區麗園一街
102       台南市永康區永安路
104       彰化縣員林市莒光路
109       彰化縣大村鄉加錫巷
119       新北市樹林區學府路
124    台北市大安區敦化南路二段
           ...
283       宜蘭縣五結鄉清水路
288     台中市北屯區軍福十三路
289       新竹市東區建功一路
291        台中市西區忠義街
296    台北市中山區民權東路二段
304      新北市金山區忠孝一路
305        台南市北區正覺街
310        新竹市東區柴橋路
317       高雄市苓雅區文昌路
326      新竹縣竹北市復興一街
332       桃園市平鎮區湧安路
334    桃園市龜山區幸福二十三街
335       新北市淡水區新春街
356     台中市北屯區軍福十三路
364    新竹縣竹北市嘉豐南路一段
371       桃園市平鎮區龍德路
375       苗栗縣苑裡鎮南興路
376    新北市淡水區新市二路三段
381       新北市中和區連城路
382      桃園市中壢區溪洲三街
384     新北市五股區成泰路三段
388       新北市蘆洲區永平街
393       高雄市鳳山區文清街
397       新北市三峽區溪東路
412       桃園市平鎮區新富街
415     桃園市桃園區民有十二街
422       台中市南區工學北路
427       新北市中和區連城路
429       高雄市楠梓區惠民路
431     台中市西屯區青海路二段
Name: address, Length: 100, dtype: object

In [262]:
df['address'].str.extract('(\w+[市縣])(\w+[區市鄉鎮])(\w+[路街])').head()

      0    1     2
5   新北市  淡水區   民族路
9   基隆市  安樂區  樂利三街
13  嘉義市   西區  興業西路
15  台北市  北投區   新民路
16  新北市  淡水區  中正東路

## Pandas IO

In [263]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/ctbcpy/master/data/rent_591.csv', index_col = 0)

In [265]:
df.to_csv('rent_591.csv')

In [266]:
df.to_csv('rent_591.tsv', sep ='\t')

In [268]:
df.to_excel('rent_591_2.xlsx')

In [269]:
df.to_clipboard()

In [270]:
df2 = pandas.read_clipboard()
df2.head()

,search_date,title,address,floor_info,price,layout,building_area,building_use
5,2018-05-12,近捷運，採光佳，有景觀，全新家電裝潢,新北市淡水區民族路,9F/11F,"22,000元/月",2房1廳1衛1陽臺,24.00,電梯大樓/整層住家
9,2018-05-14,大衛營優質社區管理好，交通便利、裝潢佳,基隆市安樂區樂利三街,14F/18F,"17,000元/月",2房1廳2衛2陽臺,32.00,電梯大樓/整層住家
13,2018-05-14,家樂福夜市附近，雅房出租2房2廳,嘉義市西區興業西路,7F/8F,"7,500元/月",2房2廳1衛1陽臺,24.00,電梯大樓/整層住家
15,2018-05-14,台北市北投新民路捷運溫泉78坪雙拼美廈,台北市北投區新民路,2F/9F,"25,000元/月",4房3廳3衛3陽臺,78.00,電梯大樓/整層住家
16,2018-05-13,出海口海景高樓層溫馨房,新北市淡水區中正東路一段,19F/21F,"15,000元/月",1房1廳1衛0陽臺,18.01,電梯大樓/整層住家

In [271]:
df3 = pandas.read_clipboard()
df3

   search_date                title       address floor_info      price
5   2018-05-12   近捷運，採光佳，有景觀，全新家電裝潢     新北市淡水區民族路     9F/11F  22,000元/月
9   2018-05-14  大衛營優質社區管理好，交通便利、裝潢佳    基隆市安樂區樂利三街    14F/18F  17,000元/月
13  2018-05-14     家樂福夜市附近，雅房出租2房2廳     嘉義市西區興業西路      7F/8F   7,500元/月
15  2018-05-14  台北市北投新民路捷運溫泉78坪雙拼美廈     台北市北投區新民路      2F/9F  25,000元/月
16  2018-05-13          出海口海景高樓層溫馨房  新北市淡水區中正東路一段    19F/21F  15,000元/月
17  2018-05-15       新四房兩廳鄰合晶科技歡迎分租     桃園市楊梅區蘋果路      整棟/3F  23,000元/月

## Grddy and Non-Greedy Match

In [278]:
s = '122@456@789'
# \w => [a-zA-Z0-9]
# \d => [0-9]
# . => [0-9a-ZA-Z!@^#&$#(%_$)]... any character
import re
m = re.match('(.+)@(.+)', s)
print(m.group(1), m.group(2))

122@456 789

In [279]:

# {0,1} => ?            : put after normal character
# non-greedy match => ? : put after * or +

m = re.match('(.+?)@(.+)', s)
print(m.group(1), m.group(2))

122 456@789