## SQLite

In [2]:
! ls -ltrh test.sqlite

-rw-r--r--  1 davidchiu  staff     0B Sep 24 09:26 test.sqlite

In [5]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('SELECT SQLITE_VERSION();')
data = cur.fetchone()
print(data)
con.close()

('3.24.0',)

In [6]:
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION();')
    data = cur.fetchone()
    print(data)

('3.24.0',)

In [7]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchall() 
    for rec in data:
        print(rec)
        #print(rec[0], rec[1])

('0912173381', 'United State')
('0928375018', 'Tokyo Japan')
('0957209108', 'Taipei')

In [8]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchone() 
    print(data)
    data2 = cur.fetchall() 
    print(data2)
        #print(rec[0], rec[1])

('0912173381', 'United State')
[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [9]:
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},
            {'name':'John', 'age':33 , 'gender': 'M'}]
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [11]:
with lite.connect('test.sqlite') as db:
    df.to_sql('employee', con = db, if_exists='replace' )

In [22]:
with lite.connect('test.sqlite') as db:
    df2 = pandas.read_sql_query('SELECT * FROM employee;', con = db, 
                                index_col= 'index')

In [23]:
df2

       age gender  name
index
0       23      F  Mary
1       33      M  John

## MySQL

In [ ]:
import pymysql

conn = pymysql.connect(host='127.0.0.1', \
    user='david',password='1qaz@WSX', \
    db='test',charset='utf8', \
    use_unicode=True)

cur = conn.cursor()
sql = "SELECT * FROM test"
cur.execute(sql)

data = cur.fetchall()
print(data)

conn.close()

In [ ]:
import psycopg2

conn = psycopg2.connect(database='test')

cur = conn.cursor()
sql = "SELECT * FROM test"
cur.execute(sql)

data = cur.fetchall()
print(data)

conn.close()

## SQL Injection

In [24]:
username = 'david'
password = '1qaz@WSX'
sql = "select * from user where username = '" + username + "' and password = '" + password + "';"
sql

"select * from user where username = 'david' and password = '1qaz@WSX';"

In [28]:
username = "' or 1=1; -- '"
password = 'qoo'

sql = "select * from user where username = '" + username + "' and password = '" + password + "';"
sql

"select * from user where username = '' or 1=1; -- '' and password = 'qoo';"

## SqlAlchemy

In [29]:
import sqlalchemy

# SQLite
from sqlalchemy import create_engine
connect_info = 'sqlite:///test.sqlite'
engine = create_engine(connect_info)

In [30]:
engine

Engine(sqlite:///test.sqlite)

In [34]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    # Defines to_string() representation 
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
            self.name, self.fullname, self.password)

In [35]:
Base.metadata.create_all(engine)

In [36]:
a = User(name = 'david', fullname= 'david chiu', password = '1qaz@WSX')

In [37]:
print(a)

<User(name='david', fullname='david chiu', password='1qaz@WSX')>

In [40]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

metadata = MetaData()
user = Table('users2', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('fullname', String),
    Column('password', String),
)

metadata.create_all(engine)

In [41]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [42]:
duser = User(name='david', fullname='david chiu', password='edspassword')
print(duser)

<User(name='david', fullname='david chiu', password='edspassword')>

In [43]:
session.add(duser)

In [44]:
duser

In [45]:
session.commit()

In [46]:
our_user = session.query(User).filter_by(name='david').first()
our_user

In [47]:
duser == our_user

True

In [49]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
    User(name='mary', fullname='Mary Contrary', password='xxg527'),
    User(name='fred', fullname='Fred Flinstone', password='blah')])

duser.password = 'test123'

In [50]:
session.commit()

In [51]:
duser.name = 'davidson'
fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
session.add(fake_user)

session.query(User).filter(User.name.in_(['davidson', 'fakeuser'])).all()

[<User(name='davidson', fullname='david chiu', password='test123')>,
 <User(name='fakeuser', fullname='Invalid', password='12345')>]

In [52]:
session.rollback()

In [53]:
session.query(User).all()

[<User(name='david', fullname='david chiu', password='test123')>,
 <User(name='wendy', fullname='Wendy Williams', password='foobar')>,
 <User(name='mary', fullname='Mary Contrary', password='xxg527')>,
 <User(name='fred', fullname='Fred Flinstone', password='blah')>]

In [55]:
for instance in session.query(User).order_by(User.id):
    print(instance)

<User(name='david', fullname='david chiu', password='test123')>
<User(name='wendy', fullname='Wendy Williams', password='foobar')>
<User(name='mary', fullname='Mary Contrary', password='xxg527')>
<User(name='fred', fullname='Fred Flinstone', password='blah')>

In [56]:
# Select
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)

david david chiu
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [58]:
# equal
a = session.query(User).filter(User.name == 'david')
print(a)

SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?

In [59]:
a.all()

In [61]:
# not equal
a = session.query(User).filter(User.name != 'david')
print(a)

SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name != ?

In [62]:
a.all()

[<User(name='wendy', fullname='Wendy Williams', password='foobar')>,
 <User(name='mary', fullname='Mary Contrary', password='xxg527')>,
 <User(name='fred', fullname='Fred Flinstone', password='blah')>]

In [63]:
# like
session.query(User).filter(User.name.like('%david%')).all()

In [64]:
# in
session.query(User).filter(User.name.in_(['david', 'wendy', 'jack'])).all()

[<User(name='david', fullname='david chiu', password='test123')>,
 <User(name='wendy', fullname='Wendy Williams', password='foobar')>]

In [65]:
# not in
session.query(User).filter(~User.name.in_(['david', 'wendy', 'jack'])).all()

[<User(name='mary', fullname='Mary Contrary', password='xxg527')>,
 <User(name='fred', fullname='Fred Flinstone', password='blah')>]

In [67]:
# or
from sqlalchemy import or_
session.query(User).filter(or_(User.name == 'david', User.name == 'wendy')).all()

[<User(name='david', fullname='david chiu', password='test123')>,
 <User(name='wendy', fullname='Wendy Williams', password='foobar')>]

## 建立關聯

In [71]:
from sqlalchemy.orm import relationship
class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    user = relationship("User", back_populates="addresses")
    
    def __repr__(self):
        return "<Address(email_address='%s')>" % self.email_address

In [72]:
User

__main__.User

In [74]:
User.addresses = relationship("Address", order_by=Address.id, back_populates="user")
Base.metadata.create_all(engine)

In [76]:
jack = User(name='jack', fullname='Jack Bean', password='gjffdd')
print(jack)

<User(name='jack', fullname='Jack Bean', password='gjffdd')>

In [77]:
jack.addresses

[]

In [79]:
session.add(jack)
session.commit()

In [80]:
jack.addresses = [Address(email_address='jack@google.com'), Address(email_address='j25@yahoo.com')]
jack.addresses

[<Address(email_address='jack@google.com')>,
 <Address(email_address='j25@yahoo.com')>]

In [81]:
jack.addresses[1]

In [82]:
jack.addresses[1].user

In [83]:
session.commit()

In [84]:
jack = session.query(User).filter_by(name='jack').one()

In [85]:
jack

In [86]:
print(dir(jack))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mapper__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__table__', '__tablename__', '__weakref__', '_decl_class_registry', '_sa_class_manager', '_sa_instance_state', 'addresses', 'fullname', 'id', 'metadata', 'name', 'password']

In [87]:
jack.addresses

[<Address(email_address='jack@google.com')>,
 <Address(email_address='j25@yahoo.com')>]

In [90]:
from sqlalchemy.sql import text

with engine.connect() as con:
    data = ( { "id": 7, "name": "u1", "fullname": "user1", "password": "p1" },
             { "id": 8, "name": "u2", "fullname": "user2", "password": "p2" },
    )
    statement = text("""INSERT INTO users(id, name, fullname,password) VALUES(:id, :name, :fullname, :password)""")
    for line in data:
        con.execute(statement, **line)

In [92]:
with engine.connect() as con:
    rs = con.execute('SELECT * FROM users')
    for row in rs:
        print(row)

(1, 'david', 'david chiu', 'test123')
(2, 'wendy', 'Wendy Williams', 'foobar')
(3, 'mary', 'Mary Contrary', 'xxg527')
(4, 'fred', 'Fred Flinstone', 'blah')
(5, 'jack', 'Jack Bean', 'gjffdd')
(7, 'u1', 'user1', 'p1')
(8, 'u2', 'user2', 'p2')

## Peewee

In [96]:
! pip install peewee

Collecting peewee
  Downloading https://files.pythonhosted.org/packages/90/01/0606e85e3e8c24b8bb8c594811a356ba410a1bf918ac94b23446b39be1f8/peewee-3.11.1.tar.gz (813kB)
    100% |████████████████████████████████| 819kB 613kB/s ta 0:00:01
Building wheels for collected packages: peewee
  Running setup.py bdist_wheel for peewee ... done
  Stored in directory: /Users/davidchiu/Library/Caches/pip/wheels/49/c0/f3/addf99fed969721eeda65ba420b36102325b018363539f612b
Successfully built peewee
Installing collected packages: peewee
Successfully installed peewee-3.11.1
You are using pip version 9.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [97]:
from peewee import *

In [99]:
from peewee import *


db = SqliteDatabase('test.sqlite')

class BaseModel(Model):
    class Meta:
        database = db

class Facility(BaseModel):
    facid = AutoField()
    name  = CharField()

    class Meta:
        table_name = 'facilities'

In [100]:
db.create_tables([Facility])

In [101]:
query = Facility.select()

In [102]:
query

In [ ]:
import pandas
from sqlalchemy import create_engine

connect_info = 'mysql+pymysql://david:1qaz@WSX@localhost:3306/test?charset=utf8'
engine = create_engine(connect_info)
sql = "SELECT * FROM users"
df = pandas.read_sql(sql=sql, con=engine)
print(df)