## 心臟病預測

現有一資料集(如下表) processed.cleveland.data.csv (https://raw.githubusercontent.com/ywchiu/cdc_course/master/data/processed.cleveland.data.csv) 


|變數名稱	|敘述|
|----------|----|
|age	|年齡|
|sex	|性別|
|cp	|胸痛型|
|trestbps	|靜息血壓|
|chol	|血清中膽固醇含量(毫克/分升)|
|fbs	|空腹血糖>120|
|restecg	|靜息心電圖結果|
|thalach	|最大心率|
|exang	|運動誘發心絞痛|
|oldpeak	|相對於休息時 ST 段壓低引起的運動|
|slope	|運動高峰期 ST 段的斜率|
|ca	|大血管透視檢查|
|thal	|貧血類型|
|num	|血管造影疾病狀態|

預測目標
- num 如果為 0 代表心臟是正常的, 如果狀態為1,2,3,4 代表有心臟問題

請用Python 回答以下問題：

1. 使用Pandas 將資料讀取到一名為 df 的 DataFrame 中
2. 請使用Pandas 重新編碼 num，如果num =0, 將資料編碼為0; 如果num != 0 將資料編碼為 1  
3. 請將資料分為訓練與測試資料集,其中訓練資料集占80%, 測試資料集占20%
4. 請使用Keras 建立人工神經網路模型 (目標 y 為 num)
5. 繼第4題,請計算出模型準確度(Accuracy)?

## 答案一

In [1]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/cdc_course/master/data/processed.cleveland.data.csv', header = None)
df.columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

In [2]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [3]:
len(df)

303

In [4]:
df = df[df['thal'] != '?']
df = df[df['ca'] != '?']
df['thal'] = df['thal'].astype(float)
df['ca'] = df['ca'].astype(float)

## 答案二

In [5]:
df['num'] = df['num'].map(lambda e: 0 if e ==0 else 1)

## 答案三

In [6]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
scaled_X = sc.fit_transform(X)

In [8]:
train_X, test_X, train_Y, test_Y = train_test_split(scaled_X,Y,test_size = 0.2, random_state = 42)

## 答案四

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Activation, Dense

Using TensorFlow backend.

In [10]:
n_hidden_1 = 6 
n_hidden_2 = 6 
n_input    = 13 
n_classes  = 1 

training_epochs = 200
batch_size = 10

model = keras.Sequential()
model.add(Dense(n_hidden_1, activation='relu', input_shape=(n_input,)))
model.add(Dense(n_hidden_2, activation='relu'))
model.add(Dense(n_classes, activation='sigmoid'))

In [11]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

WARNING:tensorflow:From /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:1349: calling reduce_mean (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

In [12]:
history = model.fit(train_X, train_Y,
                    batch_size=batch_size,
                    epochs=training_epochs,
                    verbose=0,
                    validation_data=(test_X, test_Y))

## 答案五

In [13]:
from sklearn.metrics import accuracy_score
predicted = model.predict_classes(test_X)
acc = accuracy_score(test_Y , predicted)

In [14]:
acc

0.85